<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>jpg</string>
                <string>jpeg</string>
                <string>jpe</string>
                <string>jfif</string>
                <string>thm</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>JPEG image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.jpeg</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>gif</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>GIF image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.compuserve.gif</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>png</string>
                <string>apng</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>PNG image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.png</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>tif</string>
                <string>tiff</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>TIFF image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.tiff</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>bmp</string>
                <string>dib</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>BMP image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.microsoft.bmp</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>psd</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Photoshop image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.adobe.photoshop-image</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>heic</string>
                <string>heics</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>HEIC image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.heic</string>
                <string>public.heics</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>heif</string>
                <string>heifs</string>
                <string>hif</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>HEIF image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.heif</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>avif</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>AVIF image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>org.aomedia.avif</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>webp</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>WebP image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>org.webmproject.webp</string>
                <string>public.webp</string>
                <string>com.google.webp</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>jp2</string>
                <string>j2c</string>
                <string>j2k</string>
                <string>jpc</string>
                <string>jpf</string>
                <string>jpx</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>JPEG 2000 image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.jpeg-2000</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>exr</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>OpenEXR image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.ilm.openexr-image</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>icns</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Apple icon image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.apple.icns</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>ico</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Windows icon image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.microsoft.ico</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>cur</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Windows cursor image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.microsoft.cur</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>tga</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Targa image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.truevision.tga-image</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>pbm</string>
                <string>pgm</string>
                <string>ppm</string>
                <string>pnm</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>NetPBM image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>net.sourceforge.netpbm.netpbm-image</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>mpo</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>MPO image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.mpo-image</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>3fr</string>
                <string>arw</string>
                <string>cr2</string>
                <string>cr3</string>
                <string>crw</string>
                <string>dcr</string>
                <string>dng</string>
                <string>erf</string>
                <string>fff</string>
                <string>mos</string>
                <string>mrw</string>
                <string>nef</string>
                <string>nrw</string>
                <string>orf</string>
                <string>pef</string>
                <string>raf</string>
                <string>raw</string>
                <string>rw2</string>
                <string>rwl</string>
                <string>sr</string>
                <string>sr2</string>
                <string>srf</string>
                <string>srw</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>RAW image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.camera-raw-image</string>
                <string>com.adobe.raw-image</string>
            </array>
        </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>XeeLite</string>
    <key>CFBundleIconFile</key>
    <string>XeeLite.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.codex.xeelite</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>XeeLite</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.image</string>
                <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>AVIF image</string>
            <key>UTTypeIdentifier</key>
            <string>org.aomedia.avif</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>avif</string>
                </array>
                <key>public.mime-type</key>
                <string>image/avif</string>
            </dict>
        </dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.image</string>
                <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>NetPBM image</string>
            <key>UTTypeIdentifier</key>
            <string>net.sourceforge.netpbm.netpbm-image</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>pbm</string>
                    <string>pgm</string>
                    <string>ppm</string>
                    <string>pnm</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>image/x-portable-anymap</string>
                    <string>image/x-portable-bitmap</string>
                    <string>image/x-portable-graymap</string>
                    <string>image/x-portable-pixmap</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
